<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Points Balance: <%= totalPoints %></h1>

    <% if (Object.keys(pointsObj).length !== 0) { %>
        <h2>Points Breakdown:</h2>
        <h2>{</h2>
            <% for (const payer in pointsObj) { %>
                <h2><%= `"${payer}": ${pointsObj[payer]},` %></h2>
            <% }; %>
        <h2>}</h2>
    <% } %>
    <br>
    <button><a href="/transactions/add">Add Transaction</a></button>
    <button><a href="/points/spend">Spend Points</a></button>
</body>
</html>