<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Spend Points</h1>
    <form action="/points" method="POST" autocomplete="off">
        <label>
            Points:
            <input class="num-input" type="number" name="points" min="0" max="<%= totalPoints %>" step="1" required>
        </label>
        <br>
        <h2>Available Points: <%= totalPoints %></h2>
        <button type="submit">Submit Spend</button>
    </form>
    <br>
    <button><a href="/points">View Points</a></button>
    <br>
    <br>
    <% if (Object.keys(pointsSpentObj).length !== 0) { %>
        <h2>Latest Points Spent Breakdown:</h2>
        <h2>[</h2>
        <% for (const payer in pointsSpentObj) { %>
            <h2><%= `{ "payer": "${payer}": "points": ${pointsSpentObj[payer]} },` %></h2>
        <% }; %>
        <h2>]</h2>
    <% } %>
</body>
</html>